<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Customers</title>

</head>
<body>
<div sec:authorize="hasAuthority('USERS_LIST_VIEW')" layout:fragment="content">
        <h1>Customers</h1>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Username</th>
                <th sec:authorize="hasAuthority('USERS_DETAILS_VIEW')" scope="col">Details</th>
            </tr>
            </thead>
            <tbody id="customerTableContent">
            <tr th:each="customer: ${customers}">
                <td th:text="${customer.id}"></td>
                <td th:text="${customer.username}"></td>
                <td sec:authorize="hasAuthority('USERS_DETAILS_VIEW')">
                    <a th:href="@{/customer(id=${customer.id})}">Details</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>