<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Restaurants</title>

</head>
<body>
<div sec:authorize="hasAuthority('RESTAURANT_LIST_VIEW')" layout:fragment="content">
    <h1>Restaurants</h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Address</th>
            <th scope="col">Type</th>
            <th sec:authorize="hasAuthority('RESTAURANT_DETAILS_VIEW')" scope="col">Change</th>
        </tr>
        </thead>
        <tbody id="restaurantTableContent">
        <tr th:each="restaurant: ${restaurants}">
            <td th:text="${restaurant.id}"></td>
            <td th:text="${restaurant.name}"></td>
            <td th:text="${restaurant.address}"></td>
            <td th:text="${restaurant.restaurantType}"></td>
            <td sec:authorize="hasAuthority('RESTAURANT_DETAILS_VIEW')"><a
                    th:href="@{/restaurant(id=${restaurant.id})}">Details</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
